$white: #FFFFFF;
$white80:rgba(255, 255, 255, 0.8);
$white04:rgba(255, 255, 255, 0.04);

$blue1: #172C4F;
$blue2: #162c4e;
$blue260: rgba(22, 44, 78, 0.6);
$blue3: #264a74;
$blue4: #345a87;
$blue5: #1d4169;
$blue6007: rgba(19, 89, 120, 0.07);
$blue7transparent: rgba(22, 44, 78, 0);

$red1: #DF2325;
$red2: #DF2224;
$red3: #EE4523;
$red4: #FE5F3E;
$red5: #FF1E00;

$black: #000000;
$black80: rgba(0, 0, 0, 0.8);
$black60: rgba(0, 0, 0, 0.6);

$darkgray80: rgba(18, 18, 18, 0.8);

$animationStart: -100% -100%, 200% -100%;
$animationPosition: top left, top right;
$animationPosition1440: top -40px left -50px, top -20px right -20px;
$animationPosition1024: top -100px left -70px, top -20px right -30px;
$animationPosition768: top -70px left -10px, top -10px right -20px;
$animationPosition480: top -90px left -10px, top -10px right -20px;

